@{
    ViewBag.Title = "Home Page";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    @*<script type="text/javascript" src="~/Scripts/lib/calendarEvents.js"></script>*@
    <script type="text/javascript">


        $(document).ready(function () {
            $('#calendar').fullCalendar({
                editable: false,
                events: "/home/rotationdata/"
            });
        });


    </script>

}
<div class="jumbotron">
    <h1>@ViewBag.AppName</h1>
    <p class="lead">Manage your on-call rotations, employees and summaries.</p>
    <p><a href="/oncallrotations/generateSchedule" class="btn btn-primary btn-lg">Generate Schedule &raquo;</a></p>

</div>
   
<div class="row" style="padding-top:20px">
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>


    <div class="col-md-3">
        <div class="row">
            <h2>Employees</h2>
            <p>Manage your employee data.</p>
            <p><a class="btn btn-default" href="/employees">Go &raquo;</a></p>
            <!-- <p><a href="/employees"><img src="~/Content/employeesButton.png"/></a></p>-->
        </div>
        <div class="row">
            <h2>Manage On-Call Schedules</h2>
            <p>View and edit the upcoming on-call rotations.</p>
            <p><a class="btn btn-default" href="/oncallrotations">Go &raquo;</a></p>
        </div>
        <div class="row">
            <h2>Manage Vacation</h2>
            <p>Get a summary of upcoming vacation for employees and edit that time off as necessary.</p>
            <p><a class="btn btn-default" href="/outofoffices">Go &raquo;</a></p>
        </div>
    </div>
</div>