@{
    ViewBag.Title = "Home Page";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media='print' />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/lib/calendarEvents.js"></script>*@
    <script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            editable: false,
            events: "/home/rotationdata/"});

        $('#GenerateSchedule').click(function (event) {
            event.preventDefault();
            //probably could be refactored...
            window.location.replace("/oncallrotations/generateSchedule");
        });
        @*Here the generate button in included within the calendar div*@
        $('.fc-right').prepend('<button id="GenerateSchedule" type="button" onclick=\'this.disabled = "disabled";\'>Generate Schedule</button>');
    });
    </script>
    <script>
        $("#apps").change(function () {
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', "/Home/RotationData?ID=" + $("#apps").val());
            $('#calendar').fullCalendar('rerenderEvents');
        });
        function removeFilter() {
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', "/home/rotationdata/");
            $('#calendar').fullCalendar('rerenderEvents');
        }
    </script>
}

<br/><br/>
<div class="jumbotron">
    <div id="calendar"></div>
</div>
<p style="margin-left: 55px;">Filter by application: </p>
<div style="display:inline-block; padding-left: 55px;">
    @Html.DropDownList("apps", null, htmlAttributes: new { @class = "form-control"})
</div>
<div style="display:inline-block; margin-left: 5px;">
    <button id="removeFilterBtn" type="submit" class="btn btn-primary btn-default" style="display: inline; margin-bottom:3px;" onclick="removeFilter()">Remove Filter</button>        
</div>


