@{
    ViewBag.Title = "Home Page";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media='print' />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            editable: false,
            events: "/home/rotationdata/"});
        @*Here the generate button in included within the calendar div*@
        $('.fc-right').prepend('<button id="GenerateSchedule" type="button" onclick=\'this.disabled = "disabled";\'>Generate Schedule</button>');

        $('#GenerateSchedule').click(function (event) {
            event.preventDefault();
            window.location.replace("/oncallrotations/generateSchedule");
        });
    });
    </script>
    <script>
        $("#apps").change(function () {
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', "/Home/RotationData?ID=" + $("#apps").val());
            $('#calendar').fullCalendar('rerenderEvents');
        });
    </script>
}

<br/><br/>
<div class="jumbotron">
    <div id="calendar"></div>
</div>
<p style="margin-left: 55px;">Filter by application: </p>
<div style="display:inline-block; padding-left: 55px;">
    @Html.DropDownList("apps", null, "All Apps", htmlAttributes: new { @class = "form-control" })
</div>


