@{
    ViewBag.Title = "Home Page";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media='print' />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            editable: false,
            events: "/home/rotationdata/"
        });

        @*Here the generate button included within the calendar div*@
        $('.fc-right').prepend('<button id="GenerateSchedule" type="button" onclick=\'this.disabled = "disabled";\'>Generate Schedule</button>');
        
        $('#GenerateSchedule').click(function (event) {
            event.preventDefault();
            window.location.replace("/oncallrotations/generateSchedule");
        });
    });
    </script>
    <script>
        $("#apps").change(function () {
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', "/Home/RotationData?ID=" + $("#apps").val());
            $('#calendar').fullCalendar('rerenderEvents');
        });
    </script>
}

<br /><br />

<div class="jumbotron">
    Filter <div style="display:inline-block;"> @Html.DropDownList("apps", null, "All Apps", htmlAttributes: new { @class = "form-control", align = "right", style = "font-size:70%;"})</div>
    <br /><br /><div id="calendar"></div>
</div>



