
@{
    ViewBag.Title = "Calendar";
    ViewBag.AppName = "On-Call Assistant";
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media='print' />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    @*<script type="text/javascript" src="~/Scripts/lib/calendarEvents.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar1').fullCalendar({
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });
        $(document).ready(function () {
            $('#calendar2').fullCalendar({
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });
        $(document).ready(function () {
            $('#calendar3').fullCalendar({
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });


    </script>





}
<h2>Quarter Calendar</h2>
<div style="padding:15px" class="row">
    <div id="calendar1"></div>
</div>
<div style="padding:15px" class="row">
    <div id="calendar2"></div>
</div>
<div style="padding:15px" class="row">
    <div id="calendar3"></div>
</div>

