
@{
    ViewBag.Title = "Calendar";
    ViewBag.AppName = "On-Call Assistant";
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media='print' />
}

@section scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
@*<script src="~/Scripts/html2canvas.js"></script>
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/jspdf.plugin.addimage.js"></script>
        <script type="text/javascript" src="~/Scripts/lib/calendarEvents.js"></script>*@
    <script type="text/javascript">
        var thisMonth = new Date();
        var nextMonth = new Date();
        var thirdMonth = new Date();
        var dd = thisMonth.getDate();
        var mm = thisMonth.getMonth() + 1; //January is 0!
        var mm2 = thisMonth.getMonth() + 2;
        var mm3 = thisMonth.getMonth() + 3;
        var yyyy = thisMonth.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        thisMonth = yyyy + '-' + mm + '-' + dd;
        nextMonth = yyyy + '-' + mm2 + '-' + dd;//what if next month is in next year
        thirdMonth = yyyy + '-' + mm3 + '-' + dd;

        $(document).ready(function () {
           // var currentDate = c.fullCalendar('getDate');
            $('#calendar1').fullCalendar({
                defaultDate: thisMonth,
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });
        $(document).ready(function () {
            $('#calendar2').fullCalendar({
                defaultDate: nextMonth,
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });
        $(document).ready(function () {
            $('#calendar3').fullCalendar({
                defaultDate: thirdMonth,
                editable: false,
                events: "/home/rotationdata/"
            });
            $('#GenerateSchedule').click(function (event) {
                event.preventDefault();
                //probably could be refactored...
                window.location.replace("/oncallrotations/generateSchedule");
            });
        });
        
        window.onload = function () { alert("Click \"Ctrl+p\" to print."); }
       
    </script>





}
<h2>Quarter Calendar</h2>
<div style="padding:15px" class="row">
    <div id="calendar1"></div>
</div>
<div style="padding:15px" class="row">
    <div id="calendar2"></div>
</div>
<div style="padding:15px" class="row">
    <div id="calendar3"></div>
</div>

